# Texas Instruments MSPM0G350X

# SPDX-License-Identifier: Apache-2.0

choice
	prompt "TI MSPM0 MCU Selection"
	depends on SOC_SERIES_MSPM0G350X

config SOC_MSPM0G3507
	bool "MSPM0G3507"
	select HAS_MSPM0G350XSDK
endchoice
